body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
}

#ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
}

#obstacle {
    position: absolute;
    width: 30%; /* Adjust the width of the obstacle as needed */
    height: 10%; /* Adjust the height of the obstacle as needed */
    background-color: #e74c3c;
    top: 20%; /* Adjust the top position of the obstacle as needed */
    left: 20%; /* Adjust the left position of the obstacle as needed */
}