body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Change flex-direction to column */
    height: 100vh;
    background-color: #f0f0f0;
}

.ui {
    text-align: center;
    margin-bottom: 20px;
}

#startButton, #rulesButton {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hpLabel {
    margin-top: 10px; /* Add margin to the top for spacing between button and label */
}

#game-container {
    display: visible;
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
}

#ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
}

.obstacle {
    position: relative;
    background-color: #e74c3c;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.death-modal, .winner-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content {
    margin-bottom: 20px;
}

.game-rules-modal {
    background-color: #f8f9fa; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle box shadow for depth */
}

.game-rules-modal h2 {
    font-size: 1.5em;
    color: #007bff; /* Blue color for headings */
}

.game-rules-modal p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333; /* Dark gray text color */
}

.game-rules-modal button {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-rules-modal button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
