body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Change flex-direction to column */
    height: 100vh;
    background-color: #f0f0f0;
}

.ui {
    text-align: center;
    margin-bottom: 20px;
}

#startButton, #rulesButton {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hpLabel {
    margin-top: 10px; /* Add margin to the top for spacing between button and label */
}

#game-container {
    display: visible;
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
}

#ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
}

.obstacle {
    position: relative;
    background-color: #e74c3c;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.death-modal, .winner-modal, .game-rules-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content {
    margin-bottom: 20px;
}
